.fNiiPs {
  font-weight: 600 !important;
}

.geKTIA,
.esgnBX,
.bMeATW,
.gRwfy,
.gVwfHa {
  color: white !important;
  background: transparent !important;
}

.eliEPG {
  background: transparent !important;
}

.DdiNg,
.dqLrnR {
  color: white !important;
}
