.CardChart {
  width: 100%;
  color: var(--main-color-primary);
  background-color: var(--main-color-white);
  padding: 28px 48px 48px 48px;
  border-radius: 36px;
}

.CardChart__borderTop {
  height: 56px;
  color: var(--assent-color-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 8px;
}

.CardChart__borderTop--move {
  color: var(--assent-color-purple);
  background: none;
  padding: 4px 8px;
  border: none;
}

.CardChart__chart__title {
  font-size: 22px;
  font-weight: 600;
}